<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>XPL: The Exceptional Programming Language</title>

		<script type="importmap">
{
	"imports": {
		"antlr4": "./xpl/antlr4/antlr4.web.mjs",
		"#XPL": "./xpl/src/xpl.js",
		"#DB": "./xpl/src/db.js",
		"#Walker": "./xpl/src/walker.js",
		"#Lexer": "./xpl/bindings/xplLexer.js",
		"#Parser": "./xpl/bindings/xplParser.js",
		"#Listener": "./xpl/bindings/xplParserListener.js"
	}
}
		</script>

		<script type="module" src="./xpl/src/xpl.js" async></script>
		<script type="module" defer>
			import XPL from '#XPL';

			document.xpl = new XPL();

			fetch("./xpl/test/test.xpl", {encoding: 'UTF-8' } )
				.then((file) => file.text())
				.then((code) => document.xpl.eval(code));

		</script>
	</head>
	<body>
	</body>
</html>
